<hr/>
<small>This site voluntarily complies with <a href="http://www.phish.com/faq/web-guidelines">the Phish fan web site policy</a></small>.
<table align="center" style="margin-top: 2em;">
    <tbody>
        <tr>
            <td>
                <div class="fb-like" data-href="http://emilstabs.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </td>
            <td>&nbsp;</td>
            <td>
                <div class="g-plusone" data-size="medium" data-href="http://emilstabs.org/"></div>
            </td>
        </tr>
    </tbody>
</table>


<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '819293021496856',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
